@import 'tailwindcss';

@theme {
  --spacing-content: clamp(16px, 5vw, 64px);
}

@utility content {
  @apply px-content mx-auto max-w-7xl;
}

@utility btn {
  @apply clickable inline-block rounded-sm bg-neutral-100 px-4 py-2 text-sm font-semibold;
}

@utility clickable {
  @apply cursor-pointer transition-colors hover:bg-neutral-200 active:bg-neutral-300 active:transition-none;
}

.rl--drop-top:after {
  content: '';
  @apply pointer-events-none absolute -top-px left-0 z-10 block h-[3px] w-full bg-neutral-400;
}

.rl--drop-bottom:after {
  content: '';
  @apply pointer-events-none absolute -bottom-px left-0 z-10 block h-[3px] w-full bg-neutral-400;
}
